staging/*
bin/*
dist/*
target/*
CHANGE ME
tool/src_jenkins-assembler/staging/*
tool/src_jenkins-assembler/bin/*
tool/src_jenkins-assembler/dist/*
tool/src_jenkins-assembler/target/*
tool/src_jenkins-assembler/CHANGE ME
tool/src_HudsonBrowser/staging/*
tool/src_HudsonBrowser/bin/*
tool/src_HudsonBrowser/dist/*
tool/src_HudsonBrowser/target/*
tool/src_HudsonBrowser/CHANGE ME
