staging/*
bin/*
dist/*
target/*
CHANGE ME
tool/src_HudsonAssembler/staging/*
tool/src_HudsonAssembler/bin/*
tool/src_HudsonAssembler/dist/*
tool/src_HudsonAssembler/target/*
tool/src_HudsonAssembler/CHANGE ME
tool/src_HudsonBrowser/staging/*
tool/src_HudsonBrowser/bin/*
tool/src_HudsonBrowser/dist/*
tool/src_HudsonBrowser/target/*
tool/src_HudsonBrowser/CHANGE ME
setting/webapps/hudson.war

